*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* border: 1px solid black; */
}

/* HELP CLASSES */

.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

/* HEADER */
 header {
   min-height: 99vh;
   background-image: url(../img/header.jpg);
   background-position: center;
   background-size: cover;
   font-family: 'Montserrat', sans-serif;
 }

 header h1 {
   font-size: 2.2rem;

 }

 header h2 {
   font-size: 1.2rem;
 }


/* NAVIGATION */
nav {
  padding: 10px;
}
nav a {
  color: black;
  text-decoration: none;
  padding: 0px;
  background-color: white;
  margin: 10px;
}

nav a:hover {
  font-weight: bold;
  border-bottom: black;
}

nav img {
  height: 70px;
  width: 70px;
}

/* About */
.aboutpic {
  background-position: center;
  background-size: cover;
  background-image: url(../img/selfie.jpg);
  min-height: 60vh;
}

/* ICONS */
.widtext {
  padding: 20px;
  line-height: 1rem;
}

.widtext a {
  text-decoration: none;
  border-radius: 20px;
  color: black;
  border-color: black;
  padding: 30px;
  display: block;
}

.widtext a:hover {
  background-color: black;
  color: white;
}

.icons {
  background-color: pink;
  padding: 20px;
  margin: 20px;
  margin-top: 20px;
}
